/* livvic-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #fff;
  background-color: #014e56;
}
main {
  flex-grow: 1;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
#active {
  color: #f67e7e;
}

h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.btn {
  border-radius: 24px;
  border: 2px solid transparent;
  padding: 8.4px 31px 8.4px 31px;
  font-size: 18px;
  line-height: 28px;
}

.primary__btn {
  border-color: #fff;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: #002529;
  }
}

.secondary__btn {
  background-color: #fff;
  color: #002529;

  &:hover {
    background-color: #79c8c7;
  }
}
.primary__dark__btn {
  background-color: #ffffff transparent;
  border: 2px solid #002529;
  color: #002529;
  /* opacity: 0.8; */

  &:hover {
    background-color: #002529;
    color: #ffffff;
  }
}

.header {
  padding-top: 73px;
  padding-bottom: 73px;
}
.header__container {
  display: flex;
  align-items: center;
}
.site__logo {
  margin-right: 80px;

  &:hover {
    opacity: 0.8;
  }
}
.site__logo__image {
}
.sitenav {
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.sitenav__item {
}
.sitenav__link {
  font-size: 18px;
  line-height: 28px;
  color: #fff;

  &:hover {
    color: #f67e7e;
  }
}
.hero {
  padding-top: 56px;
  padding-bottom: 250px;
  background-image: url(../images/bg-pattern-home-1.svg),
    url(../images/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: top 70px left -100px, bottom 0 right 165px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.hero__title {
  font-size: 100px;
  line-height: 100px;
}
.hero__description {
  width: 445px;
  display: flex;
  flex-direction: column;
}
.hero__description__text {
}
.divider {
  display: flex;
  width: 50px;
  height: 4px;
}
.hero-divider {
  margin-bottom: 79px;
  background-color: #79c8c7;
}

.footer__cta {
  background-color: #f67e7e;
  color: #012f34;
  background-image: url(../images/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-top: 76px;
  padding-bottom: 76px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__cta__title {
  width: 504px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0;
}

.footer__container {
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;

  .container {
    display: flex;
  }
}

.footer__logo__nav {
  margin-right: 125px;

  .site__logo {
    margin-bottom: 25px;
  }
}

.site__logo__image {
}
.sitenav {
}
.sitenav__list {
}
.sitenav__item {
}
.sitenav__link {
}
.footer__info {
  margin-right: auto;
  opacity: 0.6;

  address {
    font-style: normal;
  }
}
.footer__socials {
  display: inline-block;
}
.footer__social__list {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 51px;
  align-items:center;
}
.footer__social__item {
}
.footer__social__link {
  &:hover svg path {
    fill: #f67e7e;
  }
}
.footer__social__copyright {
  opacity: 0.6;
}
